.DS_Store
.env
.env.backup
.env.production
.phpactor.json
*.cache
*.log
/.vscode
/node_modules
/public/build
/public/hot
/public/sitemap.xml
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
phpunit.xml
Thumbs.db
