.env
.env.backup
.env.production
.phpactor.json
*.cache
*.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/node_modules
/public/build
/public/hot
/public/sitemap.xml
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
Homestead.json
Homestead.yaml
phpunit.xml