name: Run tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: 8.3

      - name: Setup MySQL database
        run: mysql -u root -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} -e "CREATE DATABASE benjamincrozat_test"

      - name: Setup Redis
        uses: supercharge/redis-github-action@1.7.0
        with:
          redis-version: 7

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create .env file
        run: cp .env.example .env

      - name: Authenticate private Composer packages
        run: composer config http-basic.spark.laravel.com ${{ secrets.SPARK_USERNAME }} ${{ secrets.SPARK_PASSWORD }}

      - name: Install back-end dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate encryption key
        run: php artisan key:generate

      - name: Install front-end dependencies and build CSS and JavaScript
        run: |
          npm i --no-fund
          npm run build

      - name: Run tests
        run: php artisan test
        env:
          DB_PORT: ${{ job.services.mysql.ports[3306] }}

      - name: Output log
        if: failure()
        run: cat storage/logs/laravel.log

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          path: storage/logs/laravel.log

      # - name: Deploy on production
      #   if: github.ref == 'refs/heads/main' && success()
      #   run: curl -X POST ${{ secrets.DEPLOYMENT_URL }}
